@import "tailwindcss";

/* Colores Natly personalizados */
@theme {
  --color-natly-blue: #0A3A78;
  --color-natly-blue-dark: #052859;
  --color-natly-blue-soft: #1b76d1;
  --color-natly-teal: #0A6A73;
  --color-natly-teal-dark: #064A52;
  --color-natly-yellow: #F4B000;
  --color-natly-yellow-dark: #D99A00;
  --color-natly-yellow-soft: #ffe070;
  --color-natly-cream: #FFF8EF;
  --color-natly-gray: #4A4A4A;
  --color-natly-deep: #0B162A; 
  --color-natly-known: #9DD6AD;
  --color-natly-hard: #F4B5B0;
  --color-natly-favorite: #F7E7A4;
  --color-natly-known-soft: #E6F4EA;
  --color-natly-hard-soft: #FBE9E7;
  --color-natly-favorite-soft: #FFF3E0;
  --color-natly-teal-soft: #EEF6F5;

  /* Texts */
  --color-natly-known-text: #1F6F73;
  --color-natly-hard-text: #9C3A3A;
}
